<form method="post">
    <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
    <input type="text" name="name" value="Rob">
    <input type="submit">
</form>
